<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="static\pictures\images(and gif)\fox.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Форум знаний Foxes.ru</title>
</head>
<body>
    <div class="fon">
        <div class="errorr">

            <img class="animation-img" src="static\pictures\images(and gif)\503.png">
            <button onclick="document.location='/'">На Главную</button>

        </div>
    </div>

</body>
</html>