{% extends 'base.html' %}

{% block menu %}
    <li><a href=\>Мой форум</a></li>
    <li><a href=\new class="current">Новое</a></li>
    <li><a href=\popular>Популярное</a></li>
    <li><a href=\rubrics>Рубрики</a></li>
{% endblock %}

{% block content %}
    <div class="novinka">
        <p>НАШИ НОВИНКИ!</p>
    </div>

    <div class="demo">
        <input type="checkbox" id="hd-1" class="hide" />
        <label for="hd-1">➕ Пернатые на линиях электро передач</label>
        <div>
            Провода в высоковольтных линиях электропередач не заключены в резиновую изоляцию, они просто закреплены на опорах с помощью изоляторов и таким образом электрически касаются
            только источника и потребителя тока. Однако, нередко можно видеть, как птицы сидят на этих проводах. Получается, что птицы хватаются за оголенный провод по которому, протекает
            огромный ток. Так почему же они при этом не страдают?
            <br>
            <br><a href="https://cspn-omsk.ru/newsss/1296-pochemu-ptitsy-na-liniyakh-elektroperedach-ne-pogibayut">Читать дальше...</a>
        </div>
    </div>
    <div class="demo">
        <input type="checkbox" id="hd-2" class="hide" />
        <label for="hd-2">➕ Фенек - забавный пустынный зверек с очень большими ушами</label>
        <div>
            Фенек удивительный представитель рода Лисицы. Необычная внешность маленького хищника за короткий срок сделала никому не известное животное довольно популярным среди любителей экзотики.
            В этой статье я собрал самые интересные факты про этот милый пушистый комочек.
            <br>
            <br><a href="https://dzen.ru/a/XTxqXVIKmwCu1t8L">Читать дальше...</a>
        </div>
    </div>
    <div class="demo">
        <input type="checkbox" id="hd-3" class="hide" />
        <label for="hd-3">➕ Отправление почты в Чехию</label>
        <div>
            В данной статье я хотел бы детальнее описать процесс отправки почты в Чехию, Подебрады из России и не только :)
            <br>
            <br><a href="https://koobas.ru/blog/otpravlenie-pochty">Читать дальше...</a>
        </div>
    </div>
    <div class="demo">
        <input type="checkbox" id="hd-4" class="hide" />
        <label for="hd-4">➕ Как я страх потерял</label>
        <div>
            Знаете, что нужно, что бы человек перестал тревожится?
            <br>
            <br><a href="https://dzen.ru/a/W-iZTexeGwCqcceC">Читать дальше...</a>
        </div>
    </div>
    <div class="demo">
        <input type="checkbox" id="hd-5" class="hide" />
        <label for="hd-5">➕ Чтоб жизнь малиной не казалась</label>
        <div>
            Даже беглый взгляд позволяет заподозрить некий обособленный мотив, который выражен загадочным нравоучением, имеющим и второй вариант:
            «Чтобы жизнь медом не казалась».
            Что же именно имеет в виду субъект, когда говорит (пусть про себя), совершая определенный поступок: чтобы жизнь малиной не казалась! И что чувствует услышавший подобное напутствие?
            <br>
            <br><a href="https://pub.wikireading.ru/24899">Читать дальше...</a>
        </div>
    </div>
{% endblock %}